<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поміжні станції</title>
</head>
<body>
<td th:text="${train.id}"></td>
<br>
<td th:text="${train.startStation}"></td>
<br>
<td th:text="${train.endStation}"></td>
<br>
<td th:text="${train.departureTime}"></td>
<br>
<td th:text="${train.arrivalTime}"></td>
<br>
<td th:text="${train.distance}"></td>
<h1>Проміжні станції:</h1>
<tr th:each="station: ${train.intermediateStations}">
    <td th:text="${station}"></td>
    <br>
</tr>
</body>
</html>