<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
<body>
<h1 style="text-align: center;">
    <span class="level2">
        <span>
           Розклад руху<br/>призначених пасажирських поїздів
        </span>
    </span>
</h1>
<div th:if="${!trains.trains.isEmpty()}">
<h3 style="text-align: center;">Розклад по станції
    <span th:text="${stationName}"></span>
</h3>

<div class="container">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Номер поїзда</th>
            <th>Маршрут</th>
            <th th:text="'Час прибуття до '+${stationName}"></th>
            <th>Прибуття на кінцеву станцію</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="train: ${trains.getTrains()}">
            <td><a th:href="@{/trainDetails/{id}(id=${train.id})}"><span th:text="${train.id}"></span></a></td>
            <td><a th:href="@{/station/{name}(name=${train.startStation})}"><span th:text="${train.startStation}"></span></a> - <a th:href="@{/station/{name}(name=${train.endStation})}"><span th:text="${train.endStation}"></span></a></td>
            <td th:text="${train.getIntermediateStation(stationName).arrival}"></td>
            <td th:text="${train.arrivalTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<div th:if="${trains.trains.isEmpty()}" style="text-align: center; color: red;">
    <strong>Станції не існує.</strong>
</div>
</body>
</html>