<!DOCTYPE html>
<html lang="ua" th:replace="~{fragments/layout :: layout (~{::body},'error')}" >
<body>

<div class="container">
    <h1>Розклад руху пасажирських поїздів</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th><a href="/sort/id">Номер поїзда</a></th>
            <th><a href="/sort/startStation">Початкова станція</a></th>
            <th><a href="/sort/endStation">Кінцева станція</a></th>
            <th><a href="/sort/departure">Час відправлення</a></th>
            <th><a href="/sort/arrival">Час прибуття</a></th>
            <th><a href="/sort/distance">Відстань</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="train: ${trains}">
            <td><a th:href="@{/trainDetails/{id}(id=${train.id})}"><span th:text="${train.id}"></span></a></td>
            <td><a th:href="@{/station/{name}(name=${train.startStation})}"><span th:text="${train.startStation}"></span></a></td>
            <td><a th:href="@{/station/{name}(name=${train.endStation})}"><span th:text="${train.endStation}"></span></a></td>
            <td th:text="${train.departureTime}"></td>
            <td th:text="${train.arrivalTime}"></td>
            <td th:text="${train.distance}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
