<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Залізниця</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Залізниця</a>
    </div>
</nav>

<div class="container">
    <h1>Розклад руху пасажирських поїздів</h1>
    <h3>Інформація щодо маршруту</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th><a href="/sort/id">Номер поїзда</a></th>
            <th><a href="/sort/startStation">Початкова станція</a></th>
            <th><a href="/sort/endStation">Кінцева станція</a></th>
            <th><a href="/sort/departure">Час відправлення</a></th>
            <th><a href="/sort/arrival">Час прибуття</a></th>
            <th><a href="/sort/distance">Відстань</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="train: ${trains}">
            <td><a th:href="@{/trainDetails/{id}(id=${train.id})}"><span th:text="${train.id}"></span></a></td>
            <td><a th:href="@{/station/{name}(name=${train.startStation})}"><span th:text="${train.startStation}"></span></a></td>
            <td><a th:href="@{/station/{name}(name=${train.endStation})}"><span th:text="${train.endStation}"></span></a></td>
            <td th:text="${train.departureTime}"></td>
            <td th:text="${train.arrivalTime}"></td>
            <td th:text="${train.distance}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
