<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
<body>
<h1 style="text-align: center;">
    <span class="level2">
        <span>
            Розклад руху<br/>призначених пасажирських поїздів
        </span>
    </span>
</h1>
<h3 style="text-align: center;">Інформація за номером поїзда
    <span th:text="'\''+${id}+'\''"></span>

</h3>
<br>
<div th:if="${train != null}">
    <table class="table ">
        <thead class="thead-dark">
        <tr>
            <th>Номер поїзда</th>
            <th>Маршрут</th>
            <th>Відправлення</th>
            <th>Прибуття</th>
            <th>Дистанція</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${train.id}">
            <td><a th:href="@{/station/{name}(name=${train.startStation})}"><span
                    th:text="${train.startStation}"></span></a>
                - <a th:href="@{/station/{name}(name=${train.endStation})}"><span th:text="${train.endStation}"></span></a>
            </td>
            <td th:text="${train.departureTime}">
            <td th:text="${train.arrivalTime}">
            <td th:text="${train.distance}+' км'">
        </tr>
        </tbody>
    </table>
    <h4 style="text-align: center;">Маршрут руху</h4>
    <div style="text-align: center;" th:each="station: ${train.intermediateStations}">
        <a th:href="@{/station/{name}(name=${station.name})}" th:text="${station.name}"></a>
        <span th:text="' (' + ${station.arrival} + ')'"></span><br><br>
    </div>
</div>
<div th:if="${train == null}" style="text-align: center; color: red;">
    <strong th:text="${message}"></strong>
</div>


</body>
</html>