<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'error')}">
<body>
<h1 style="text-align: center;">
    <span class="level2">
        <span>
            Розклад руху<br/>призначених пасажирських поїздів
        </span>
    </span>
</h1>
<h3 style="text-align: center;">Інформація за номером поїзда
    <span th:text="'\''+${id}+'\''"></span>
</h3>
<br>
<div th:if="${message == null}">
    <table class="table ">
        <thead class="thead-dark">
        <tr>
            <th>Номер поїзда</th>
            <th>Маршрут</th>
            <th>Відправлення</th>
            <th>Прибуття</th>
            <th>Дистанція</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${train.id}">
            <td><a th:href="@{/station/{name}(name=${train.startStation})}" th:text="${train.startStation}"></a> -
                <a th:href="@{/station/{name}(name=${train.endStation})}" th:text="${train.endStation}"></a></td>
            <td th:text="${train.departureTime}">
            <td th:text="${train.arrivalTime}">
            <td th:text="${train.distance}+' км'">
        </tr>
        </tbody>
    </table>
    <h4 style="text-align: center;">Маршрут руху</h4>
    <table class="table table-bordered table-striped" style="width: 50%;margin: auto;">
        <thead class="thead-dark">
        <tr>
            <th>Станція</th>
            <th>Прибуття</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="station: ${train.intermediateStations}">
            <td><a th:href="@{/station/{name}(name=${station.name})}" th:text="${station.name}"></a></td>
            <td th:text="' (' + ${station.arrival} + ')'">
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${message != null}" style="text-align: center; color: red;">
    <strong th:text="${message}"></strong>
</div>


</body>
</html>